body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
*  Styles for the navigation
*/
.navbar-brand{
  font-size: 1.7rem;
}


.btn-radius{
 border-radius: 30px !important;
}

.menu li > a:focus{
   border-bottom: 2px solid orangered ;
   font-weight: bold;
   color: rebeccapurple !important;
   
}


.btn{
  background-color:  #fff;
  color: orangered;
}
.btn:hover,
.btn:focus{
  background-color: rgb(253, 89, 29);
  color: #fff;
}